@page "/MySamples";
<h3>My Learning samples :)</h3>
<a href="/L1Person">#1. Learning sample</a> delegates and events in component, it is crazy )))
<br />
<a href="/TestModal">#2. Learning sample</a> Modal form testing
@code {

}
