<div class="row">
    <div class="col-6">
        <div class="p-5">
            <a href="/MonitoringAdms">
                <h2>
                    <span class="oi oi-list-rich" aria-hidden="true"></span>
                    Мониторинг Адмов
                </h2>
            </a>
            <div>
                Данный отчет формирует 
                обобщенные данные по платежам, в разрезе групп или точек оплат,
                в зависимости от условий выборки.
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="p-5">
            <a href="/MonitoringEncashments">
                <h2>
                    <span class="oi oi-list-rich" aria-hidden="true"></span>
                    Инкоссация
                </h2>
            </a>
            <div>
                Данный отчет формирует
                обобщенные данные по платежам, в разрезе групп или точек оплат,
                в зависимости от условий выборки.
            </div>
        </div>
        
    </div>
</div>
@code {

}
